{% extends "layout.html" %}

{% block title %}
    About Page
{% endblock %}

{% block main %}
<section>
    <div class="topAbout">
        <div class="topAboutText">
            <h1>THE STORY OF <br><span>Bill Watson</span></h1>
        </div>
    </div>
</section>
 
<section class="padding">
    <div class="PhoneEarlyPic">
        <div class="aboutPicture"></div>
    </div>
    <div class="PhoneText">
        <h1>Early Life</h1>
        <p> My current wrestling career has been wrestling at the JMU club wrestling team. Its my first year here and I am planning on wrestling between 135-141. While I have no idea how the competition is, I enjoy practice heavily and love learning new information. I am exicted for our first tournament in two week and can't wait to get onto the mat.</p>
    </div>
    <div class="EarlyBillHolder margin-top">
        <div class="earlyBillLeft">
            <div class="aboutPicture"></div>
        </div>
        <div class="earlyBillRight">
            <h1>Early Life</h1>
            <p> My current wrestling career has been wrestling at the JMU club wrestling team. Its my first year here and I am planning on wrestling between 135-141. While I have no idea how the competition is, I enjoy practice heavily and love learning new information. I am exicted for our first tournament in two week and can't wait to get onto the mat.</p>
        </div>
    </div>
</section>
<section class="margin-top padding">
    <div style="background-color:rgba(224, 221, 221, 0.719); height:10vh;">
    <div class="PhoneFamilyPic">
        <div class="aboutFamily"></div>
    </div>
    <div class="PhoneText">
        <h1>Early Life</h1>
        <p> My current wrestling career has been wrestling at the JMU club wrestling team. Its my first year here and I am planning on wrestling between 135-141. While I have no idea how the competition is, I enjoy practice heavily and love learning new information. I am exicted for our first tournament in two week and can't wait to get onto the mat.</p>
    </div>
</div>
    <div style="background-color:rgba(224, 221, 221, 0.719); height:80vh;">
    <div class="FamilyHolder">
        <div class="FamilyLeft margin-top">
            <h1>Family Man</h1>
            <p> My current wrestling career has been wrestling at the JMU club wrestling team. Its my first year here and I am planning on wrestling between 135-141. While I have no idea how the competition is, I enjoy practice heavily and love learning new information. I am exicted for our first tournament in two week and can't wait to get onto the mat.</p>
        </div>
        <div class="FamilyRight margin-top">
            <div class="aboutFamily"></div>
        </div>
    </div>
</div>
</section>

<section class="gallerySection padding">
    <h1>Bill Watson Memories</h1>
    <div class="gallery">
        <div class="gallery__item">
          <div class="embed">
            <img src="/static/images/BillWithFam.jpg" />
          </div>
        </div>
        <div class="gallery__item">
          <div class="embed">
            <img src="/static/images/BillPicture.jpg" />
          </div>
        </div>
        <div class="gallery__item">
          <div class="embed">
            <img src="/static/images/BillsPic.jpg" />
          </div>
        </div>
        <div class="gallery__item gallery__item--v-2">
          <div class="embed embed--1-2">
            <img src="/static/images/BillWithAndrew.jpg" />
          </div>
        </div>
        <div class="gallery__item">
          <div class="embed">
            <img src="/static/images/BillGolfPhoto.jpg" />
          </div>
        </div>
        <div class="gallery__item gallery__item--h-2">
          <div class="embed embed--2-1">
            <img src="/static/images/BillWithFriend.jpg" />
          </div>
        </div>
        <div class="gallery__item gallery__item--v-2">
          <div class="embed embed--1-2">
            <img src="/static/images/familyPic.jpg" />
          </div>
        </div>
        <div class="gallery__item gallery__item--h-2">
          <div class="embed embed--2-1">
            <img src="/static/images/hompagePicture.jpg" />
          </div>
        </div>
        <div class="gallery__item gallery__item--v-2">
          <div class="embed embed--1-2">
            <img src="/static/images/Bill Family Picture.jpg" />
          </div>
        </div>
        <div class="gallery__item gallery__item--h-2 gallery__item--v-2">
          <div class="embed">
            <img src="/static/images/BillGolf.jpg" />
          </div>
        </div>
        <div class="gallery__item">
          <div class="embed">
            <img src="/static/images/BillGolfing.jpg" />
          </div>
        </div>
        <div class="gallery__item gallery__item--h-2 gallery__item--v-2">
          <div class="embed">
            <img src="/static/images/BillGolfPhoto.jpg" />
          </div>
        </div>
        <div class="gallery__item">
          <div class="embed">
            <img src="/static/images/BillPicture.jpg" />
          </div>
        </div>
        <div class="gallery__item gallery__item--h-2 gallery__item--v-3">
          <div class="embed embed--2-3">
            <img src="/static/images/BillsPic.jpg" />
          </div>
        </div>
        <div class="gallery__item gallery__item--h-2 gallery__item--v-2">
          <div class="embed">
            <img src="/static/images/IMG_7088.jpg" />
          </div>
        </div>
        <div class="gallery__item gallery__item--v-2">
          <div class="embed embed--1-2">
            <img src="/static/images/BillGolfing.jpg" />
          </div>
        </div>
        <div class="gallery__item">
          <div class="embed">
            <img src="/static/images/IMG_7087.jpg" />
          </div>
        </div>
        <div class="gallery__item">
          <div class="embed">
            <img src="/static/images/BillWithFam.jpg" />
          </div>
        </div>
        <div class="gallery__item">
          <div class="embed">
            <img src="/static/images/hompagePicture.jpg" />
          </div>
        </div>
        <div class="gallery__item">
          <div class="embed">
            <img src="/static/images/Bill Family Picture.jpg" />
          </div>
        </div>
      </div>
</section>

{% endblock %}