{% extends "layout.html" %}

{% block title %}
    HomePage
{% endblock %}

{% block main %}
    <section>
        <div class="hompagePhoto">
            <div class="photoBox">
                <h3>Show Your Support</h3>
                <p>Your support will go towards helping the Watson family cover funeral, education, and living expenses and help families in similar positions.</p>
                <div class="buttonPhotoDiv"><button href="#">Donate Now</button></div>
            </div>
        </div>
    </section>
    <section>
    <div class="holder">
        <div class="contents content1">
            <div class="inside-contents">
                <h1>Our Mission</h1>
                <p>Our Goal, Vision and Commitment</p>
                <div class="buttonPhotoDiv buttonContent1"><button >Learn More</button></div>
            </div>
        </div>
        <div class="contents content2">
            <div class="inside-contents">
                <h1>Our Mission</h1>
                <p>Our Goal, Vision and Commitment</p>
                <div class="buttonPhotoDiv buttonContent2"><button >Learn More</button></div>
            </div>
        </div>
        <div class="contents content3">
            <div class="inside-contents">
                <h1>Our Mission</h1>
                <p>Our Goal, Vision and Commitment</p>
                <div class="buttonPhotoDiv buttonContent3"><button >Learn More</button></div>
            </div>
        </div>
    <div>
    </section>

    <section>
    <div class="about-holder margin-top">
        <div class="phoneDivHolder">
            <div class="phoneTextHolder">
                <h1>About Bill Watson</h1>
                <p> My current wrestling career has been wrestling at the JMU club wrestling team. Its my first year here and I am planning on wrestling between 135-141. While I have no idea how the competition is, I enjoy practice heavily and love learning new information. I am exicted for our first tournament in two week and can't wait to get onto the mat.</p>
                <p> The team right now consists of 1 past national finalist and two all american coaches. This means the knowledge I can obtain here could help me become a future all american (hopfully). I am just excited to be part of the team and I am ready for the next step in my wrestling career to start.</p>
           <div><button class="buttonAbout"><a href="/about">Learn More</a></button>              
        </div>
    </div>
        </div>


        <div class="parent">
            <div class="child"></div>
        </div>
        <div class="text-side">
            <h1>About Bill Watson</h1>
            <p> My current wrestling career has been wrestling at the JMU club wrestling team. Its my first year here and I am planning on wrestling between 135-141. While I have no idea how the competition is, I enjoy practice heavily and love learning new information. I am exicted for our first tournament in two week and can't wait to get onto the mat.</p>
            <p> The team right now consists of 1 past national finalist and two all american coaches. This means the knowledge I can obtain here could help me become a future all american (hopfully). I am just excited to be part of the team and I am ready for the next step in my wrestling career to start.</p>
            <div class="style-button-div">
                <a class="effect1" href="/about">
                    Learn More
                    <span class="bg"></span>
                </a>
            </div>
        </div>
    </div>
    </section>   

    <div class="helping-topper-div">
        <h1 class="margin-top helping-topper">Interested in Helping?</h1>
    </div>

    <section class="testing">
        <div class="moreInformationHolder">
            <div class="informationCard topIcon">
                <img src="static/images/gofundme-logo.png"></img>
                <p>With the family's blessing, we have set up this fundrasier to help Andrea and the kids to cover funderal, education & living expenses. Any contribution will be beneficial and helpful.</p>
                <div class="infoButtonHolder"><a href="https://www.gofundme.com/f/bill-watson-family-memorial-fund?qid=f852aa9ed8b210f6842c38a0c8e17933" class="buttonInfo">Learn More</a></div>
            </div>
            <div class="bottomIconHolder">
                <div class="informationCard">
                    <span class="material-icons" style="font-size:120px; color:rgb(3, 139, 3);">savings</span>
                    <h1>Education Savings Plan</h1>
                    <p>Kode With Klossy welcomes corporate support in the form of donations, in-kind donations, and programming support.</p>
                    <div class="infoButtonHolder"><a href="#" class="buttonInfo">Learn More</a></div>
                </div>
                <div class="informationCard">
                    <span class="material-icons" style="font-size:120px;">today</span>
                    <h1>Events</h1>
                    <p>Events will be created in the future. Right now we have no events.</p>
                    <div class="infoButtonHolder"><a href="/Events" class="buttonInfo">Learn More</a></div>
                </div>
            </div>
        </div>


    <div class="card-dropdown">
        <a class="noDecoration" href="https://www.gofundme.com/f/bill-watson-family-memorial-fund?qid=f852aa9ed8b210f6842c38a0c8e17933"><h4 class="goFundMe">Go Fund Me</h4>
        <p>With the family's blessing, we have set up this fundrasier to help Andrea and the kids to cover funderal, education & living expenses. Any contribution will be beneficial and helpful.</p>
    </a>
     </div>
    <div class="card-dropdown">
        <a class="noDecoration">
        <h4>Education Savings Plan</h4>
        <p class="educational-saving"> Kode With Klossy welcomes corporate support in the form of donations, in-kind donations, and programming support.</p></a>
    </div>
    <div class="card-dropdown" href="/Events">
    <a class="noDecoration" href="/Events">
        <h4 class="futureEvents">Future Events</h4>
        <p>Events will be created in the future. Right now we have no events.</p>
    </a>
    </div>
    </section>

    
{% endblock %}